.container{
    height: 110vh;
    background-color: rgba(224, 207, 207, 0.525);
    /* margin-top: 50px; */
    max-width: 90vw;
    box-shadow: 3px 3px  rgba(220, 214, 214, 0.751);
    display: flex;
    background-image: url(../assets/delivery.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px ;
    border-radius: 10px;
}
.main{
    background-image: url(../assets/coffee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    font-size: 90px;
    margin-bottom: 40px;
}
.aside1{
    width: 40vw;  
}
.door{
    color: orange;
}
.heading{
    font-family: Luminari, fantasy;
    margin-top: 20px;
}
body{
    overflow-x: hidden;
}
.aside2{
    width: 50vw;
    position: absolute;
}
/* .delivery{
    height: 200px;
    width: 200px;
} */
.discription{
    font-size: xx-large;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgba(54, 46, 46, 0.827);
}
.order{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgb(180, 171, 171);
    background-color: orange;
    color: white;
    font-weight: bold;
}
.customers{
    margin-left:130px;
    margin-top: 40px;
    border-right: 3px solid orange;
    padding-right: 10px;
}
.rating{
    margin-left: 30px;
    margin-top: 40px;
}
.fa-star{
    font-size: 30px;
}
.top{
    position: relative;
    height: 60px;
    left:100.5%;
    top: 0px;
    background-color: orange;
    width: 600px;
}
.right{
    position: relative;
    height: 500px;
    left:170.7%;
    top: 0px;
    background-color: orange;
    width: 60px;
}
.container2{
    display: flex;
    margin-left: 50px;
}
.easyToOrder{
    height: 350px;
    width: 300px;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(237, 233, 228, 0.493);
}
.easyToOrder p{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}
.easyToOrder img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.easyToOrder span{
    font-weight: bold;
}